@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

.container {

}

.header {
  border: 8px solid #fff;
  height: 100vh;
}

.header-nav {
  font-family: 'Droid Sans', sans-serif;
  line-height: 5em;
  text-align: center;
}

.slide-out-nav {
  width: 33%;
  height: 100vh;
  background: #fff;
  position: absolute;
  right: 0;
  z-index: 3;
  transform: translateX(100%);
}

.nav-items {
  display: flex;
  justify-content: flex-end;
}

.nav-li {

}

.nav-li a {
  color: #fff;
  padding: 1.25em 2em;
  text-decoration: none;
}

.hero-title {
    flex: 2 0 0;
    margin: auto;
    align-self: center;
    display: flex;
}

.hero-svg {
  align-items: center;
  height: 30em;
  line-height: 30em;
  margin: auto;
  text-align: center;
}

.hero-svg svg {
    height: 5.44em;
    width: 17.2em;
}

.main-content {

}

.container {
  margin: 0 auto;
  max-width: 100em;
  padding: 0 1.25em;
}

/*product layout*/
.products {
  padding-top: 100px;
}

.grid-item {
  float: left;
  padding: 20px;
  width: 25%;
}

.grid-item img {
  max-width: 100%;
}

.grid-item--width2 {
  width: 50%;
}

/*media queries*/
@media screen and (min-width: 1024px) {
  .header-nav {
    height: 5em;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .grid-item {
    float: left;
    width: 50%;
  }
}
