@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

.container {

}

.header {
  border: 8px solid #fff;
  height: 100vh;
}

.header-nav {
  font-family: 'Droid Sans', sans-serif;
}

.nav-items {
  display: flex;
  align-self: flex-end;
}

.nav-li {

}

.nav-li a {
  color: #fff;
  padding: 1.25em 2em;
  text-decoration: none;
}

.main-content {

}

.container {
  margin: 0 auto;
  max-width: 100em;
  padding: 0 1.25em;
}

/*product layout*/
.products {
  padding-top: 100px;
}

.grid-item {
  float: left;
  width: 250px;
}

.grid-item img {
  max-width: 100%;
}

.grid-item--width2 {
  width: 700px;
}

/*media queries*/
@media screen and (min-width: 1024px) {
  .header-nav {
    height: 5em;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}
